.container {
  width: 100%;

  label {
    display: block;
    color: var(--blue);
    font-weight: 300;
    font-size: 18px;
    margin-bottom: 8px;
  }

  input {
    width: auto;
    min-width: 100px;
    max-width: 100%;
    box-sizing: content-box;
    height: 35px;
    border: 1px solid rgb(195, 195, 195);
    border-radius: 8px;
    padding: 0px 25px 0px 7px;
    font-size: 16px;
    color: #333;
    transition: border-color 0.3s ease;
    background-repeat: no-repeat;
    background-position: calc(100% - 10px);
    background-size: 25px;
    font-weight: 200;
    &::placeholder {
      color: rgb(195, 195, 195);
      font-weight: 400;
    }

    &:hover {
      border-color: rgb(125, 125, 125);
    }

    &:focus {
      border: 2px solid #04aaeb5b;
      outline: none;
    }

    &:valid:not(:placeholder-shown) {
      border-color: #24cc94;
      background-image: url(/assets/img/checked-mark.png);
    }

    &:invalid:not(:focus):not(:placeholder-shown) {
      border-color: #fc5454;
      background-image: url(/assets/img/unchecked-mark.png);
    }
  }
}