<h2 mat-dialog-title>Alterar Senha</h2>
<mat-dialog-content class="mat-dialog-content" [formGroup]="form">

  <mat-form-field class="mat-form-field" appearance="outline">
    <mat-label>Nova Senha</mat-label>
    <input matInput [type]="hide ? 'password' : 'text'" formControlName="senha" />
    <button mat-icon-button matSuffix (click)="hide = !hide" type="button">
      <mat-icon>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
    </button>
    <mat-error *ngIf="form.get('senha')?.hasError('required')">Obrigatória</mat-error>
    <mat-error *ngIf="form.get('senha')?.hasError('minlength')">Mínimo 6 caracteres</mat-error>
  </mat-form-field>

</mat-dialog-content >
<mat-dialog-actions class="mat-dialog-actions" align="end">
  <button mat-button (click)="onCancel()">Cancelar</button>
  <button mat-raised-button color="primary" (click)="onSubmit()" [disabled]="form.invalid">Salvar</button>
</mat-dialog-actions>
