:host {
    display: block;
    padding: 1.5rem;
    max-width: 400px;
    width: 100%;
  
    mat-dialog-content {
      display: flex;
      flex-direction: column;
      gap: 2rem;
      padding-top: 3rem;
  
      mat-form-field {
        width: 100%;
      }
    }
  
    mat-dialog-actions {
      margin-top: 1.5rem;
      display: flex;
      justify-content: flex-end;
      gap: 0.8rem;
  
      button {
        min-width: 100px;
      }
    }
  }
  