button{
    background-color: var(--blue);
    border: none;
    font-size: 20px;
    font-weight: 600;
    color: white;
    width: 180px;
    height: 40px;
    border-radius: 20px;
    transition: background 0.7s ease;
    &:hover{
        background-color: transparent;
        border: solid 1px var(--blue);
        color: var(--blue);
        font-weight: 300;
    }
}