.container {
  max-width: 100%;
  margin: 40px auto;
  padding: 16px;
  border-radius: 12px;
  background-color: var(--white);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
  overflow-x: auto;


  .container-filter {
    margin-bottom: 20px;
    border-radius: 12px;
  }

  .filtro-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 16px;

    mat-form-field {
      border-radius: 16px;
      width: 100%;
    }
  }



  .container-header {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;

    .container-acao {
      display: flex;
      gap: 12px;

      button {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 6px;
        padding: 6px 12px;
        font-size: 13px;
        font-weight: 500;
        border: none;
        border-radius: 6px;
        cursor: pointer;
        transition: background-color 0.2s ease;
        background-color: #00aff0;
        color: #fff;
      }


      .stroked {
        background-color: transparent;
        color: #00aff0;
        border: 1px solid #00aff0;

        &:hover {
          background-color: #e6f3f8;
        }
      }

      mat-icon {
        font-size: 28px;
        color: white;
        margin: 0px;
      }
    }
  }

  .mat-table {
    background-color: var(--white);
    width: 100%;
    border-spacing: 0 12px;
    border-collapse: separate;
  }

  th {
    background-color: #00aff0;
    color: white;
    font-weight: 600;
    text-transform: uppercase;
    padding: 14px 16px;
  }

  td {
    background-color: var(--white);
    border-bottom: none;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
  }

  tr:hover td {
    background-color: #cfe8f1;
    box-shadow: 0 4px 10px rgba(155, 25, 210, 0.12);
  }

  .paginator {
    background-color: var(--white);
  }
}